version: '3.5'

x-networked: &networked
  networks:
    - nhsd_bcnetwork

x-depends-on-db: &dependsOnDb
  <<: *networked
  depends_on:
    - db

x-sa-password: &saPassword
  - SA_PASSWORD: "MyTestPassword123!"

services:
  db:
    <<: *networked
    image: mcr.microsoft.com/mssql/server:2019-latest
    container_name: nhsd_bcdb
    volumes:
      - nhsd_bcvolume:/var/opt/mssql/
    environment:
      <<: *saPassword
      ACCEPT_EULA: "Y"
    healthcheck:
      test: '/opt/mssql-tools/bin/sqlcmd -b -d buyingcatalogue -U sa -P $${SA_PASSWORD} -Q "IF NOT EXISTS (SELECT * FROM dbo.Epic) THROW 50000, ''Not ready'', 0;"'
      interval: 30s
      timeout: 10s
    ports:
      - "1433:1433"

  dacpac.deploy:
    <<: *dependsOnDb
    image: ${REGISTRY:-nhsd}/buying-catalogue/db-deploy:${TAG:-latest}
    container_name: nhsd_bcdb_deploy
    build:
      context: "../src"
      dockerfile: "NHSD.BuyingCatalogue.Database.Deployment/Dockerfile"
    environment:
      <<: *saPassword
      DB_NAME: "buyingcatalogue"
      DB_SERVER: db
      NHSD_PASSWORD: "DisruptTheMarket1!"
      INSERT_TEST_DATA: "TRUE"

  nhsd.buyingcatalogue.api:
    <<: *dependsOnDb
    environment:
      ASPNETCORE_ENVIRONMENT: "Development"
      ASPNETCORE_URLS: "http://0.0.0.0:80"
      ConnectionStrings__BuyingCatalogue: "${NHSD_BUYINGCATALOGUE_DB:-Data Source=db;Initial Catalog=buyingcatalogue;MultipleActiveResultSets=True;User Id=NHSD;Password=DisruptTheMarket1!}"
      APICLIENTSETTINGS__DOCUMENTAPI__BASEURL: "http://nhsd.buyingcatalogue.documents.api.wiremock:80"
    ports:
      - "8080:80"

  nhsd.buyingcatalogue.documents.api.wiremock:
    <<: *networked
    container_name: documents_api_wiremock
    image: ${REGISTRY:-nhsd}/buying-catalogue/documents-api-wiremock:${TAG:-latest}
    build:
      context: ../tests/NHSD.BuyingCatalogue.Documents.API.WireMock/
      dockerfile: Dockerfile
    ports:
      - "9090:80"

networks:
  nhsd_bcnetwork:
    name: nhsd_bcnetwork
    driver: bridge

volumes:
  nhsd_bcvolume:
    name: nhsd_bcvolume
